{{!----}}

<div class="table-flip-scroll">
	<table class="table flip-content t_doc">
		<thead class="flip-header">
		<tr>
			<th>№</th>
			<th>
				<select size="1" name="filter_date" class="table_filter">
					<option value="hidden">Дата подачи заявки</option>
					<option value="24.11.16">24.11.16</option>
					<option value="23.11.16">23.11.16</option>
					<option value="22.11.16">22.11.16</option>
					<option value="21.11.16">21.11.16</option>
				</select>
			</th>
			<th>
				<select size="1" name="filter_doc_type" class="table_filter">
					<option value="hidden">Тип заявки</option>
					<option value="mark">Материальный пропуск</option>
					<option value="rules">Гостевой пропуск</option>
					<option value="rent">Временный пропуск</option>
					<option value="else">Постоянный пропуск</option>
				</select>
			</th>
			<th>
				<select size="1" name="filter_doc_topic" class="table_filter">
					<option value="hidden">Статус</option>
					<option value="mark">В работе</option>
					<option value="rules">Отправлена</option>
					<option value="rent">Завершена положительно</option>
					<option value="else">Тема документа4</option>
				</select>
			</th>
			<th>К-во постов</th>
		</tr>
		</thead>
		<tbody>
		{{#each orders}}
			<tr onClick="window.location='/order_single.html'" style="cursor:pointer">
				<td class="center">{{number_order}}</td>
				<td class="center">{{date_order}}</td>
				<td>{{type_order}}</td>
				<td>{{event_order}}</td>
				<td>
					<a href="order_single.html" style="text-decoration: none"><p class="p-0 m-0 orders_count">{{count_order}} {{#if new_order}}<sup class="new_not">{{new_count}}</sup>{{/if}}</p></a>
				</td>
			</tr>
		{{/each}}
		</tbody>
	</table>
</div>
