---
layout: app/app-layout
pagename: notification
notif:
  - id: 1
    title: Повідомлення
    tema: Маркетинг. Раздача листовок.
    date: 12.10.10
    short: Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
    long: Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
  - id: 2
    title: Повідомлення
    tema: Маркетинг. Раздача листовок.
    date: 12.10.10
    short: Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
    long: Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
  - id: 3
    title: Повідомлення
    tema: Маркетинг. Раздача листовок.
    date: 12.10.10
    short: Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
    long: Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
  - id: 4
    title: Повідомлення
    tema: Маркетинг. Раздача листовок.
    date: 12.10.10
    short: Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
    long: Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
  - id: 5
    title: Повідомлення
    tema: Маркетинг. Раздача листовок.
    date: 12.10.10
    short: Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
    long: Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
  - id: 6
    title: Повідомлення
    tema: Маркетинг. Раздача листовок.
    date: 12.10.10
    short: Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
    long: Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
  - id: 7
    title: Повідомлення
    tema: Маркетинг. Раздача листовок.
    date: 12.10.10
    short: Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
    long: Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
  - id: 8
    title: Повідомлення
    tema: Маркетинг. Раздача листовок.
    date: 12.10.10
    short: Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
    long: Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
---
<div class=" flex-row justify-content-between w-100 mb-2">
	<h1 class="title">
		Повідомлення
	</h1>
	<div class="more_b">
		<div class="form-group">
			<div class="form-inline underlined border-0 bg-transparent">
				<select size="1" class="form-inline underlined border-0 bg-transparent" name="" id="">
					<option value="">Тема повідомлення</option>
					<option value="">Тема повідомлення</option>
					<option value="">Тема повідомлення</option>
				</select>
			</div>
		</div>
	</div>
</div>
<section class="section">
    <div class="row">
        <div class="col-md-12 notification">
{{#each notif}}
                <div class="card card_notif mb-1 ">
                    <div class="card-header w-100 flex-nowrap justify-content-between" role="tab" id="notif_heading_{{id}}">
                        <h6 class="mb-0 title-notif w-100 ml-3 btn-block flex-row justify-content-between flex-wrap">
							<span class="pt-1 pt-sm-0">{{title}} {{id}}.</span> <span class=" text-right block py-2 py-sm-0 mr-5">{{date}}</span>
                        </h6>
                        <a href="#" class="mr-3 del_notif"><i class="fi icon-delet"></i></a>
                    </div>

                    <div id="notif_collapse_{{id}}" class="collapse show" role="tabpanel" aria-labelledby="notif_heading_{{id}}" data-parent="#accordion">
                        <div class="card-body pt-0">
							<p>{{tema}}</p>
							<p>{{long}}</p>
                        </div>
                    </div>
                </div>
{{/each}}

		</div>
    </div>
</section>
