---
layout: app/app-layout
pagename: orders
orders:
  - number_order: 1
    date_order: 12.11.17
    type_order: Матеріальна перепустка
    event_order: В роботі
    count_order: 4
    new_order: false
    new_count: 0
  - number_order: 2
    date_order: 10.10.17
    type_order: Гостьова перепустка
    event_order: Відправлена
    count_order: 5
    new_order: false
    new_count: 0
  - number_order: 3
    date_order: 12.11.17
    type_order: Тимчасова перепустка
    event_order: Погоджена
    count_order: 7
    new_order: true
    new_count: 11
  - number_order: 4
    date_order: 10.10.17
    type_order: Постійна перепустка
    event_order: Відмовлена
    count_order: 1
    new_order: true
    new_count: 1
  - number_order: 5
    date_order: 12.11.17
    type_order: Матеріальна перепустка
    event_order: В роботі
    count_order: 8
    new_order: false
    new_count: 0
  - number_order: 6
    date_order: 10.10.17
    type_order: Гостьова перепустка
    event_order: Відправлена
    count_order: 3
    new_order: false
    new_count: 0
  - number_order: 7
    date_order: 12.11.17
    type_order: Тимчасова перепустка
    event_order: Погоджена
    count_order: 2
    new_order: true
    new_count: 15
  - number_order: 8
    date_order: 10.10.17
    type_order: Постійна перепустка
    event_order: Відмовлена
    count_order: 12
    new_order: true
    new_count: 3
  - number_order: 9
    date_order: 12.11.17
    type_order: Матеріальна перепустка
    event_order: В роботі
    count_order: 4
    new_order: false
    new_count: 0
  - number_order: 10
    date_order: 10.10.17
    type_order: Гостьова перепустка
    event_order: Відправлена
    count_order:
    new_order: false
    new_count: 0
  - number_order: 10
    date_order: 12.11.17
    type_order: Матеріальна перепустка
    event_order: В роботі
    count_order: 4
    new_order: false
    new_count: 0
  - number_order: 11
    date_order: 10.10.17
    type_order: Гостьова перепустка
    event_order: Відправлена
    count_order: 5
    new_order: false
    new_count: 0
  - number_order: 12
    date_order: 12.11.17
    type_order: Тимчасова перепустка
    event_order: Погоджена
    count_order: 7
    new_order: true
    new_count: 11
  - number_order: 13
    date_order: 10.10.17
    type_order: Постійна перепустка
    event_order: Відмовлена
    count_order: 1
    new_order: true
    new_count: 1
  - number_order: 14
    date_order: 12.11.17
    type_order: Матеріальна перепустка
    event_order: В роботі
    count_order: 8
    new_order: false
    new_count: 0
  - number_order: 15
    date_order: 10.10.17
    type_order: Гостьова перепустка
    event_order: Відправлена
    count_order: 3
    new_order: false
    new_count: 0
  - number_order: 16
    date_order: 12.11.17
    type_order: Тимчасова перепустка
    event_order: Погоджена
    count_order: 2
    new_order: true
    new_count: 15
  - number_order: 17
    date_order: 10.10.17
    type_order: Постійна перепустка
    event_order: Відмовлена
    count_order: 12
    new_order: true
    new_count: 3
  - number_order: 18
    date_order: 12.11.17
    type_order: Матеріальна перепустка
    event_order: В роботі
    count_order: 4
    new_order: false
    new_count: 0
  - number_order: 19
    date_order: 10.10.17
    type_order: Гостьова перепустка
    event_order: Відправлена
    count_order:
    new_order: false
    new_count: 0
---
<div class="tac_row sm_tar_row float-right">
	<a class="modal_trigger" href="#" data-toggle="modal" data-target="#create_order_for">
		<button class="btn btn_type_f">Подати заявку</button>
	</a>
</div>
<div class="title-block">
	<h1 class="title mt-2 ">
		Заявки
	</h1>
</div>
<div class="form-group underlined">
	<form action="">
		<div class="input-group col-sm-8 col-md-3 border border-dark border-left-0 border-right-0 border-top-0 ">
			<input type="text" class="form-control border-0 font-weight-normal" placeholder="Пошук">
			<span class="input-group-addon border-0 bg-transparent color-secondary"><i class="fa fa-search"></i></span>
		</div>
	</form>
</div>
<section class="section">
	<div class="row">
		<div class="col-md-12">
			<div class="filter_block d-block d-lg-none bg-header p-2 mb-3">
				<div class="row col-9 col-sm-6 col-md-12 mb-1 mb-sm-4">
					<p class="d-block text-center w-100">Дата подання Заявки</p>
					<div class="form-group  col-12 text-center mx-auto d-inline-block p-0 mb-2">
						<!--DATE-PICKER-RANGE-->
						<div id="basicDatepicker-4" data-toggle="tooltip" data-placement="right" title="Пiдказка" class="form-group form-inline justify-content-md-start flex-md-wrap date_times text-center w-100">
							<div class="start__daretime col-5 col-md-5 p-0">
								<label for="datepicker1" class="form-inline flex-nowrap border-bottom-1 align-bottom">
									<input type="text" id="datepicker1" class="date start form-control col-12 underlined text-center mb-0 p-0" placeholder="Вiд">
								</label>
							</div>
							<i class="col-1 col-md-1"></i>
							<div class="end__daretime col-5 col-md-5 p-0">
								<label for="datepicker2" class=" form-inline flex-nowrap border-bottom-1 align-bottom">
									<input type="text" id="datepicker2" class="date end form-control col-12 underlined text-center mb-0 p-0" placeholder="До">
								</label>
							</div>
						</div>
						<!--DATE-PICKER-RANGE-->
					</div>
				</div>
				<div class="row col-10 col-sm-6 col-md-12 mb-4">
					<select name="filter_doc_type" class="table_filter w-100">
						<option value="hidden">Тип Заявки</option>
						<option value="mark">Матеріальна перепустка</option>
						<option value="rules">Постійна перепустка</option>
						<option value="rent">Гостьова перепустка</option>
						<option value="else">Тимчасова перепустка</option>
						<option value="else">Допуск на територію/виконання робіт</option>
						<option value="else">Оформлення вітрин</option>
						<option value="else">Розміщення інформації</option>
						<option value="else">Замовлення реклами в Gulliver Times</option>
						<option value="else">Проведення фото/відео зйомки</option>
						<option value="else">Підключення інтернету/телефону</option>
						<option value="else">Скарга/пропозиція</option>
					</select>
				</div>
				<div class="row col-5 col-md-12 mb-4">
					<select name="filter_doc_topic" class="table_filter">
						<option value="hidden">Статус</option>
						<option value="mark">В роботі</option>
						<option value="rules">Відправлена</option>
						<option value="rent">Погоджена</option>
						<option value="else">Відмовлена</option>
					</select>
				</div>
			</div>

			<div class="table-responsive d-lg-none">
				<table class="table flip-content t_doc">
					<tbody class="orders_tab">
					{{#each orders}}
						<tr  onClick="window.location='/order_single.html'" style="cursor:pointer" class="orders_item d-flex d-lg-table flex-column m-0 mb-3 mb-lg-0" id="orders_item-{{number_order}}" style="cursor: pointer">
							<td class="text-right text-lg-center "><span class="d-inline-block d-lg-none float-left ">№ Заявки</span> {{number_order}}</td>
							<td class="text-right text-lg-center"><span class="d-inline-block d-lg-none float-left ">Дата</span> {{date_order}}</td>
							<td class="text-right text-lg-left"><span class="d-inline-block d-lg-none float-left ">Тип Заявки</span> {{type_order}}</td>
							<td class="text-right text-lg-left"><span class="d-inline-block d-lg-none float-left ">Статус</span> {{event_order}}</td>
							<td class="text-right text-lg-left">
								<span class="d-inline-block d-lg-none float-left float-lg-none">К-сть постів</span>
								<a href="order_single.html" style="text-decoration: none" class="d-block float-right float-lg-none">
									<p class="p-0 m-0 orders_count d-block  pr-3 pr-lg-0">{{count_order}}
										{{#if new_order}}<sup class="new_not">{{new_count}}</sup>{{/if}}
									</p>
								</a>
							</td>
							<td class="d-block d-lg-none text-center"><div class="adds_list_more_info_btn_holder">
								<a href="#" class="adds_list_more_info_btn">
									<span>Докладнiше</span>
									<img src="/images/more_info_arrow.png" alt="">
								</a>
							</div></td>
						</tr>
					{{/each}}
					</tbody>
				</table>
			</div>
			<div class="table-responsive d-none d-lg-block">
				<table class="table flip-content t_doc">
					<thead class="flip-header">
						<tr class="text-center">
							<th class="text-center">№</th>
							<th class="text-center" style="max-width: 213px">
								<p class="d-none d-md-block">Дата подання Заявки</p>
								<select name="filter_date" class="table_filter d-block d-md-none">
									<option value="hidden">Дата подання Заявки</option>
									<option value="24.11.16">24.11.16</option>
									<option value="23.11.16">23.11.16</option>
									<option value="22.11.16">22.11.16</option>
									<option value="21.11.16">21.11.16</option>
								</select>
								<i class="col-1 p-0 m-0"></i>
								<div class="form-group  col-11 text-center mx-auto d-none d-md-inline-block p-0 m-0">
									<!--DATE-PICKER-RANGE-->
									<div id="basicDatepicker-4" data-toggle="tooltip" data-placement="right" title="Пiдказка" class="form-group form-inline justify-content-md-start flex-md-wrap date_times text-center w-100">
										<div class="start__daretime col-12 col-md-5 p-0">
											<label for="datepicker1" class="form-inline flex-nowrap border-bottom-1 align-bottom">
												<input type="text" id="datepicker1" class="date start form-control col-12 underlined text-center mb-0 p-0" placeholder="Вiд">
											</label>
										</div>
										<i class="col-12 col-md-1"></i>
										<div class="end__daretime col-12 col-md-5 p-0">
											<label for="datepicker2" class=" form-inline flex-nowrap border-bottom-1 align-bottom">
												<input type="text" id="datepicker2" class="date end form-control col-12 underlined text-center mb-0 p-0" placeholder="До">
											</label>
										</div>
									</div>
									<!--DATE-PICKER-RANGE-->
								</div>
							</th>
							<th>
								<select name="filter_doc_type" class="table_filter w-50">
									<option value="hidden">Тип Заявки</option>
									<option value="mark">Матеріальна перепустка</option>
									<option value="rules">Постійна перепустка</option>
									<option value="rent">Гостьова перепустка</option>
									<option value="else">Тимчасова перепустка</option>
									<option value="else">Допуск на територію/виконання робіт</option>
									<option value="else">Оформлення вітрин</option>
									<option value="else">Розміщення інформації</option>
									<option value="else">Замовлення реклами в Gulliver Times</option>
									<option value="else">Проведення фото/відео зйомки</option>
									<option value="else">Підключення інтернету/телефону</option>
									<option value="else">Скарга/пропозиція</option>
								</select>
							</th>
							<th>
								<select name="filter_doc_topic" class="table_filter">
									<option value="hidden">Статус</option>
									<option value="mark">В роботі</option>
									<option value="rules">Відправлена</option>
									<option value="rent">Погоджена</option>
									<option value="else">Відмовлена</option>
								</select>
							</th>
							<th>К-сть постів</th>
						</tr>
					</thead>
					<tbody class="orders_tab">
					{{#each orders}}
						<tr  onClick="window.location='/order_single.html'" style="cursor:pointer" class="orders_item " id="orders_item-{{number_order}}" style="cursor: pointer">
							<td class="text-justify text-md-center"><span class="d-block d-md-none">№ Заявки</span> {{number_order}}</td>
							<td class="text-justify text-md-center"><span class="d-block d-md-none">Дата</span> {{date_order}}</td>
							<td class="text-justify text-md-left"><span class="d-block d-md-none">Тип Заявки</span> {{type_order}}</td>
							<td class="text-justify text-md-left"><span class="d-block d-md-none">Статус</span> {{event_order}}</td>
							<td class="text-justify text-md-left">
								<span class="d-block d-md-none">К-сть постів</span>
								<a href="order_single.html" style="text-decoration: none"><p class="p-0 m-0 orders_count">{{count_order}} {{#if new_order}}<sup class="new_not">{{new_count}}</sup>{{/if}}</p></a>
							</td>
						</tr>
					{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row pagination_with_btn_row">
		<div class="tac_row sm_tar_row">
			<!--<a class="modal_trigger no" href="order_single.html" hidden>
				<button class="btn btn_type_d">Добавить акцию</button>
			</a>-->
		</div>
		<ul class="section_pagination">
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li class="active"><a href="#">4</a></li>
		</ul>
	</div>
</section>
